@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .v3-toggle {
    @apply relative inline-block w-10 mr-2 align-middle select-none;
  }
  .v3-toggle-checkbox {
    @apply absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer transition-all duration-200 ease-in;
  }
  .v3-toggle-label {
    @apply block overflow-hidden h-6 rounded-full bg-gray-600 cursor-pointer;
  }
  .v3-toggle-checkbox:checked {
    @apply right-0;
  }
  .v3-toggle-checkbox:checked + .v3-toggle-label {
    @apply bg-v3-primary;
  }
}

@layer utilities {
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px) scale(0.98);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out forwards;
  }
}
